

.genre{
   display: inline-flexbox !important;
    flex-flow: nowrap;
    gap: 0.5rem;  
   
}



.media-card{
    background-color: #1A202C !important;
    color: white !important;
    box-shadow: none !important;
}

.media-content{
    padding-top: 0 !important;
  }

.movie-meta{
    padding-right: 0 !important;
}

.media-content{
    padding: 1rem;
    margin-top: 1rem;
}



.comma:not(:last-child):after {
    content: ", ";
  }

 
 .rating{
     float: right;
     
    
 }
 .star{
     color: gold !important;
 }

 