.media-list{
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 2rem !important;
    gap: 1rem;

}

.list-type{
    padding-top: 2rem  !important;
}

h4{
    margin-bottom: 0 !important;
}