

.detail{
    width: 100vw;
    height: 95vh;
    position: relative;
    display: flex;
    color: white !important;
}
.poster img{
    width: 300px;
}

.poster{
    position: absolute;
    top: 60%;
    left: 15%;
    transform: translate(-15%,-60%);
}

.more_detail{

    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-65%,-50%);
    margin-right: -5rem;

}

h1{
    font-size: 3rem !important;
    margin-bottom: 0 !important;
}

.meta-data{
    display: flex;
    align-items: center;
    justify-content: stretch;
    
}
.control-items{
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    
}
